body {
    margin: 0;
    padding: 0;
    background-color: #d4d4d4;
    width: 100%;
}

header {
    background-color: #35688a;
    color: #000000;
    padding: 10px 0;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

nav {
    background-color: #234257;
    color: #ffffff;
    padding: 10px 0;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
}

nav a:hover {
    background-color: #001fcf;
    color: #ffffff;
}

nav a.active {
    background-color: #ffffff;
    color: #000000;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
}

main {
    display: flex;
    flex-direction: column;
    background-color: #c5c5c5;
    color: #000000;
    padding: 20px;
    font-family: 'Times New Roman', Times, serif;
    align-items: center;
    height: 70vh;
}

article {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fffbbe;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: #000000 0px 0px 15px 3px;
}

.formulario {
    margin: 40px;
    border-radius: 10px;
    width: 70%;
    box-sizing: border-box;

    & a {
        padding-left: 5px;
        cursor: pointer;
        color: #4788ff;
    }

    & a:hover {
        color: #004ca3;
    }
}

h1 {
    text-align: center;
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #000000;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #000000;
    color: #ffffff;
    cursor: pointer;
    box-sizing: border-box;
}

.btn-seguir {
    background-color: rgb(160, 255, 65);
    color: #000000;
}

.btn-seguir:hover {
    background-color: #177500;
    transition: 500ms linear;
    color: #ffffff;
}

.btn-cancelar {
    background: #ED213A;
    /* fallback for old browsers */
    color: #ffffff;
}

.btn-cancelar:hover {
    background: #570000;
    /* fallback for old browsers */
    transition: 500ms linear;
    color: #ffffff;
}

footer {
    background-color: #35688a;
    color: #000000;
    padding: 10px 0;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}